.nav-color {
  background-color: #fff;
}

.nav-buttons {
  background: #fff;
  color: #8E54E9;  /* fallback for old browsers */
}

.nav-buttons:hover {
  color: #8E54E9;
   opacity: 0.9;
}

#nav-form {
  width: 60%;
  margin: 0 auto;
}

#nav-form form {
  width: 100%;
}

#nav-input {
  background: #f5f5f5;
}

#nav-button {
  color: #8E54E9;
  background: #fff;
}

#nav-logo{
  height: 3rem;
  max-height: 3rem;
}