#gifselected {
width: 85%;
}

.spacer {
  margin-top: 1em;
}
.related {
  width: 80%;
}

.card-image img, .related img, #gifselected img {
  width: 100%;
  height: 100%; 
  box-shadow: 7px 15px 40px rgba(96, 80, 249, 48%);
}

.related-img {
  display: block;
  margin: 5% 0;
}

#tagname:nth-child(odd) {
  background: #ff3860;
}

hr {
    background-color: #f5f5f5;
    border: none;
    display: block;
    width: 70%;
    height: 2px;
    margin: 3rem 0 2rem 0;
}

#tumblr {
  background: #303d4d;
}

#twitter {
  background: #1CA1F2;
}

#facebook {
  background: #3a5a98;

}