
#home-header {
  height: 33%;
}

.hero-header {
  margin: 20% auto;
}

.hero-header .subtitle {
  margin-bottom: 0.5rem;
}

#img-header {
 background: url('https://media1.tenor.com/images/24fff78e8eed2fe1a88dcaa2e590d433/tenor.gif?itemid=5205412');
 background-size: cover;
}


 #list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}


#list img {
  width: 100%;
}

#tag-search {
  margin-left: 1%;
  width: 100%;
  height: 50%;
  overflow: scroll;
}

ul {
  text-decoration: none;
}

li {
  display: block;
  padding: 0.4rem;
  text-align: center;
}

#search-tag {
  font-size: 1rem;
  color: #7b4397;
  background: transparent;
}

.card-image {
width: 30%;
margin: 1%;
border-radius: 0.5em;
background: transparent;
box-shadow: 7px 15px 40px rgba(96, 80, 249, 48%);
position: relative;
}

.card-image:nth-child(odd){
  box-shadow: 7px 15px 40px rgba(249, 64, 64, 48%)
}

.card-image img {
  width: 100%;
  height: 100%; 
}

.heart {
 position: absolute;
 top: 3%;
 right: 3%;
 z-index: 20;
}

 .heart:hover {
cursor: pointer;

}