
#home-header {
background: #4776E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.hero-header {
  margin: 20% auto;
}

.hero-header .subtitle {
  margin-bottom: 0.5rem;
}


.hero-header h1, .hero-header h2 {
  color: white;
}

#img-header {
 background: url('https://media1.tenor.com/images/24fff78e8eed2fe1a88dcaa2e590d433/tenor.gif?itemid=5205412');
 background-size: cover;
 opacity: 0.8;
}

#header-button {
  color: #7b4397;
}

 #list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}


#list img {
  width: 100%;
}

#tag-search {
  width: 100%;
  height: 50%;
  overflow-y: scroll;
}

ul {
  text-decoration: none;
}

li {
  display: block;
  margin: 0.5rem;
  text-align: left;
}

#search-tag {
  font-size: 1rem;
  color: #7b4397;
}

#search-tag:hover {
  cursor: pointer;
  color: black;
}

.card-image {
width: 30%;
margin: 1%;
border-radius: 0.5em;
background: transparent;
box-shadow: 7px 15px 20px rgba(96, 80, 249, 25%);
position: relative;
}

.card-image:nth-child(odd){
  box-shadow: 7px 15px 20px rgba(249, 64, 64, 25%)
}

.card-image img {
  width: 100%;
  height: 100%; 
}

.heart {
 position: absolute;
 top: 3%;
 right: 3%;
 z-index: 20;
}

 .heart:hover {
cursor: pointer;

}


@media screen and (max-width: 780px) {
  #img-header, .navbar-end, #tag-search{
    display: none;
  }

  .hero-header {
    margin: 100px 50px; 
}

.card-image {
  display: block;
  width: 80%;
  margin: 10px auto;
}
  
}